.addition {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  &__title {
    font-family: $font;
    font-size: 16px;
    line-height: 16px;
    color: $special-dark-grey;
    text-transform: uppercase;
  }

  &__text {
    line-height: 14px;
    color: $special-dark-grey;
  }

  &__compound {
    display: flex;
  }
}
