.adress {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px 26px 20px;

  @media (min-width: $desktop-width) {
    width: 565px;
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: $basic-white;
  }

  @media (min-width: $tablet-width) {
    padding: 56px 70px 60px;
  }

  &__title {
    font-family: $font;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 400;
    width: 139px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 26px;
      width: 172px;
      padding-top: 5px;
    }
  }

  &__text {
    line-height: 20px;
    color: $special-dark-grey;
    width: 139px;

    @media (min-width: $tablet-width) {
      width: 160px;
      text-align: right;
      display: flex;
      flex-direction: column;
    }
  }

  &__string + &__string {
    @media (min-width: $tablet-width) {
      padding-top: 20px;
    }
  }
}
