.adress {
  display: flex;
  padding: 26px 20px 26px;

  &__title {
    font-family: $font;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__text {
    line-height: 20px;
    color: $special-dark-grey;
  }
}
