.catalog {
  &__title {
    font-family: $font;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 41px;

    @media (min-width: $tablet-width) {
      //
    }
  }

  &__list {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
