.example {
  background-color: $special-grey-3;
  padding: 25px 0 45px;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    padding-bottom: 60px;
  }

  &__container {
    @media (min-width: $desktop-width) {
      display: flex;
    }
  }

  &__report {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $font;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
      text-align: left;
    }
  }

  &__slider {
    margin-top: 40px;

    @media (min-width: $tablet-width) {
      margin-top: 85px;
    }
  }
}
