.footer {
  background-color: $basic-grey;

  &__container {
    padding: 39px 0 22px;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__logo-link {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }

  &__socials {
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
  }

  &__developed {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      width: 163px;
    }
  }
}
