.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    padding: 11px 20px;

    @media (min-width: $tablet-width) {
      margin-top: 24px;
      padding: 0 30px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 50px;
    }
  }

  &__logo {
    @media (min-width: $tablet-width) {
      width: 174px;
      height: 52px;
    }

    @media (min-width: $desktop-width) {
      width: 202px;
      height: 59px;
    }
  }

  &__navigation {
    @media (min-width: $tablet-width) {
      margin-top: 11px;
    }
  }
}
