.navigation {
  &__toggle {
    width: 24px;
    height: 16px;
    background-color: red; //для визуального контроля, потом удалю
  }

  &__link {
    font-family: $font;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: $basic-black;
    text-transform: uppercase;
  }
}
