.products {
  display: grid;
  grid-template-areas: //TODO Это правильно?
  "A A B B"
  "A A C C"
  "D D D D";
  padding: 19px 0 25px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 38px 39px 38px;
    background-color: $basic-grey;
  }

  &__title{
    font-family: $font;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $basic-black;
    width: 76px;
    margin-right: auto;
    font-weight: 400;

    @media (min-width: $tablet-width) {
      width: 120px;
      text-align: center;
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__text {
    font-size: 12px;
    line-height: 16px;
    color: $special-dark-grey;
  }

  &__img-link {
    grid-area: A;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 112px;

    @media (min-width: $tablet-width) {
      margin-bottom: 34px;
    }
  }

  &__main-link {
    grid-area: B;

    @media (min-width: $tablet-width) {
      margin-bottom: 21px;
    }
  }

  &__compound {
    grid-area: C;

    @media (min-width: $tablet-width) {
      margin-bottom: 33px;
    }
  }

  &__button {
    grid-area: D;
    height: 40px;

    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }
}
