.range {
  width: 200px;
  margin: 20px auto 0;

  @media (min-width: $tablet-width) {
    width: 592px;
    margin-top: 35px;
    padding: 0 10px;
  }

  &__button {
    background-color: transparent;
    color: $basic-black;
    font-family: $font;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      padding-bottom: 5px;
      border-bottom: 1px dotted $basic-black;
    }
  }
}
