.slider {
  &__img {
    margin: 0 auto;
    display: block;

    @media (min-width: $tablet-width) {
      width: 590px;
      height: 510px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
