.socials {
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 160px;
    padding: 0 0 0 24px;
  }

  &__item {
    width: 30px;
    height: 30px;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      background-size: 30px 30px;
    }
  }

  &--vk {
    background-image: url("../../img/icon_vkontakte.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--in {
    background-image: url("../../img/icon_instagram.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-size: 24px 24px;
    }

  }

  &--fc {
    background-image: url("../../img/icon_facebook.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
