.text-field {
  height: 45px;
  display: flex;
  align-items: center;

  & + & {
    margin-top: 14px;
  }

  &__label {
    font-family: $font;
    font-size: 16px;
    text-transform: uppercase;
    color: $special-dark-grey;
    font-weight: 400;
    margin-right: 12px;

    &--age {
      width: 100px;
      margin-right: 8px;
    }

    &--weight {
      margin-right: 16px;
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__input {
    font-family: $font;
    padding: 10px 16px;
    font-size: 16px;
    text-transform: uppercase;
    color: $special-dark-grey;
    background-color: transparent;
    font-weight: 400;
    flex-grow: 1;
    border: 1px solid $special-dark-grey-3; //TODO Пожалйуста, подскажи как можно сделать длину инпута до упора, я что то не могу догнать

    &--weight {
      padding-left: 15px;
    }

    &--age {
      padding-left: 14px;
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }

    &--textarea {
      resize: none;
    }

    &::placeholder {
      color: $special-dark-grey;
    }
  }
}
